@{
    Func<string, string, string> IsActive = (controllerName, className) => 
        ViewContext.RouteData.Values["Controller"].ToString() == controllerName ? className : string.Empty;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")


</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="@IsActive("Home", "active")"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="@IsActive("Banco", "active")"><a href="@Url.Action("Index", "Banco")">Banco</a></li>
                    <li class="@IsActive("Sucursal", "active")"><a href="@Url.Action("Index", "Sucursal")">Sucursal</a></li>
                    <li class="@IsActive("Orden", "active")"><a href="@Url.Action("Index", "Orden")">Orden de Pago</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="content" class="container-fluid">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/script")
</body>
</html>
